.header {
  display: flex;
  justify-content: space-between;
  padding: 74px 50px;

  .header-options {
    display: flex;
    align-items: center;

    .option {
      margin-right: 20px;
    }
  
    .user-icon-btn {
      height: 30px;
    }

    .dropdown-toggle:focus {
      box-shadow: none;
    }

    .dropdown-item:active {
      background-color: black;
    }
  }

  .logo, .option {
    color: black;
    font-weight: 500;
    font-size: 14px;
  }

}